body, html {
  background: #f5ece7;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #030102; }

.intro {
  background: #fe3839;
  color: #f5ece7;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0 0 260vh 0;
  z-index: 10; }
  .intro h1 {
    font-weight: 100;
    text-align: center;
    margin-top: 40vh;
    font-size: 6em; }
  .intro h2 {
    font-weight: 100;
    text-align: center;
    margin: 2vh 15vw 0;
    max-width: 70vw;
    font-size: 1.2em; }
  .intro p {
    width: 6vw;
    height: 6vw;
    line-height: 6vw;
    border: 1px solid #f5ece7;
    border-radius: 6vw;
    text-align: right;
    padding-right: 0.4vw;
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
    text-transform: uppercase;
    font-size: 0.5em;
    letter-spacing: 0.2em;
    margin: 20vh auto; }

.s2s-container {
  position: fixed;
  height: calc(100vh - 20vw);
  width: calc(100vw - 20vw);
  margin: 10vw;
  font-size: 0.8em;
  top: 0;
  left: 0;
  z-index: 1; }
  .s2s-container .s2s-green {
    position: fixed;
    height: 100vh;
    width: 140vw;
    margin: 0;
    top: 0;
    left: 0;
    margin-left: -15vw;
    background-image: url(../img/green-bike.jpg);
    background-position: center;
    background-size: cover;
    mix-blend-mode: multiply;
    opacity: 0.7; }
  .s2s-container .s2s-blue {
    position: fixed;
    height: 100vh;
    width: 140vw;
    margin: 0;
    top: 0;
    left: 0;
    margin-left: -5vw;
    background-image: url(../img/blue-bike.jpg);
    background-position: center;
    background-size: cover;
    mix-blend-mode: multiply;
    opacity: 0.7; }
  .s2s-container .s2s-red {
    position: fixed;
    height: 100vh;
    width: 140vw;
    margin: 0;
    top: 0;
    left: 0;
    margin-left: -10vw;
    background-color: #f5ece7;
    background-image: url(../img/red-bike.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    opacity: 0.7; }

.after {
  background: rgba(3, 1, 2, 0.9);
  color: #f5ece7;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0 0 0 0;
  z-index: 10; }
  .after h1 {
    font-weight: 100;
    text-align: center;
    margin-top: 45vh;
    font-size: 6em; }
